@model Book;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Add a Book</title>
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <form method="post">
        <div asp-validation-summary="ModelOnly" style="background-color: red"></div>
        <label asp-for="Title">Title</label>
        <span asp-validation-for="Title"></span>
        <input asp-for="Title" /><br />
        <label for="author">Author</label>
        <input name="author" /><br />
        <label for="pubDate">Publication Date</label>
        <input name="pubDate" /><br />
        <input type="submit" value="Enter" />
    </form>
    <p>In the future, you'll be able to post a review here</p>
    <a href="Index">Back to the list of books</a>
</body>
</html>

<!-- Note: the name attributes in the input elements must match the
    parameter names in the controller post method. The name attribute
    must be used, not the id attribute. -->
