@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Good Book Nook</title>
</head>
<body>
    <h1>Authors</h1>
    <p>
        Coming soon: a list of authors whose books have been reviewed on this site
    </p>
    <a href="/Home">Home</a>
</body>
</html>
