@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Good Book Nook</title>
</head>
<body>
    <h1>About This Site</h1>
    <p>
        We're starting small, but hope to become a serious rival to <a href="https://www.goodreads.com" target="_blank">goodreads</a>!
    </p>
    <a href="Index">Home</a>
</body>
</html>
