@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Good Book Nook</title>
</head>
<body>
    <h1>Good Book Nook</h1>
    <h2>A web site for book lovers</h2>
    <h3>Welcome!</h3>
    <p>
        Have you read any good books lately? If you have,
        <a href="/Book/AddBook">post a review!</a><br />
        Want to know what to read?
        <a href="/Book/Index">Check out the reviews!</a>
    </p>
    <nav>
        <h3>Site Navigation:</h3>
        <a href="Home/About">About this site</a><br />
        <a href="/Book/Index">List of books and reviews</a><br />
        <a href="/Book/Authors">List of authors</a>
    </nav>
</body>
</html>
